@import 'nib/vendor'

@import 'nib/gradients'

vendor-prefixes = o ms moz webkit official

amarilloclaro = #FFF9B2
verdeclaro=#66E884
celeste = #00D8FF
lila = #D584EB
rojo = #FF8772
azul = #4357FF
gris_oscuro = #444
naranja = #FFBC94
gris_claro = #EEE8DB
musgo= #1B7F16



body
	background url(../img/MARIANO2.jpg)
	color gris_oscuro
	font-family Arial
	font-size 16px
	
header
	background linear-gradient(top, azul, celeste)
	color white
	text-shadow: black 0.1em 0.1em 0.2em
	padding 0.5em
	position: relative
	
.UMG
	
	font-size 20px
	font-style italic
	margin 30px 10px 10px 10px
	font-family Helvetica 
	text-shadow: black 1px -1px 0 ,
    black  1px -1px 0 ,
    black  -1px 1px 0 ,
    black  1px 1px 0 ;
	padding 0.6em
	font-weight: bold
	color red
	text-decoration: none
	transition 1s color
	&:hover
		color azul
		text-decoration: underline
	
	

.tabla1
	margin 25px
	color black
	background: gris_claro
	
	.titulos
		font-family Times New Roman
		background linear-gradient(top, musgo, verdeclaro)
		color white
		text-shadow: black 0.1em 0.1em 0.2em
		

	th,td
		font-family Times New Roman
		padding 10px
		
#titulof
	margin 25px;
	font-size 20px
	color white
	text-shadow: black 1px -1px 0 ,
    black  1px -1px 0 ,
    black  -1px 1px 0 ,
    black  1px 1px 0 ;
	
.tabla2
	margin 25px
	

	td 
		padding 10px


.tabla2
	background gris_claro
	font-style italic
	box-shadow: 2px 2px 2px 2px black
	text-shadow: 0.1em 0.1em 0.2em white
	color azul
	font-weight bolder
	
input[type=text]
	color black

	

input[type=submit]
	position: fixed
	padding 2px
	top 565px
	left 300px
	border 1px 
	color white
	border-radius 5px
	box-shadow: 2px 2px 2px 2px black
	transition 1s background
	background red
	&:hover
		background rojo
		
.foto
	position: fixed
	top 380px
	left 520px
	border 3px solid black
	border-radius: 5px
	width 200px
	
.datos
	position: fixed
	top 200px
	left 600px
	
	#btn
		padding 2px
		border 1px 
		color black
		border-radius 5px
		box-shadow: 2px 2px 2px 2px black
		transition 1s background
		background blue
		&:hover
			background verdeclaro
	
		
	

.left
	float left
		
		
	

	
		